.overflow_x_hidden {
  overflow-x: hidden;
}

.bg_purple {
  background-color: #8111e8;
}
.c_purple {
  color: #8111e8;
}
.border_purple {
  border: 1px solid #8111e8;
}
.lineheight_normal {
  line-height: normal;
}

.dflex {
  display: flex;
}

.align_items_center {
  align-items: center;
}

.padd1020 {
  padding: 10px 20px;
}

.fs_16 {
  font-size: 16px !important;
}

.fw_600 {
  font-weight: 600;
}

.fw_500 {
  font-weight: 500;
}

.fw_400 {
  font-weight: 400;
}

.bg_gray {
  background: #f4e8ff;
}

.min_width_80 {
  min-width: 80%;
  max-width: 80%;
}

.min_width_20 {
  min-width: 20%;
  max-width: 20%;
}

.min_width_20 {
  min-width: 20%;
  max-width: 20%;
}
.border_bottom {
  border-bottom: 1px solid #efefef;
}

.tb15padding {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.align_items_baseline {
  align-items: baseline;
}

.fs_14 {
  font-size: 14px !important;
}

.order_cta {
  padding: 8px 60px;
}
