<div class="container" *ngIf="store$ | async as store">
  <div class="row">
    <div class="section ld_t30padding">
      <div
        class="dashboard_area ld_dflex md_dflex sd_dflex ld_align-items-center md_align-items-center sd_align-items-center ld_JCspace md_JCspace sd_JCspace">
        <div>
          <div class="dashboardOverview ld_xml_size md_l_size md_m_size fw_600 ">
            Store Setting
          </div>
        </div>
      </div>
    </div>
    <div class="section ld_t30padding">
      <div
        class="bg_grad shadow1 br10 ld_A15padding md_A15padding sd_A10padding ld_dflex ld_JCspace md_JCspace sd_JCspace ld_align-items-center md_align-items-center sd_A15padding sd_align-items-center sd_b30margin">
        <div>
          <div class="h1 fw_400 ld_m_size ld_boldText ld_nopadding md_nopadding sd_nopadding sd_l_size sd_b10padding">
            Power your business with AI
          </div>
          <div class="ld_xs_size c_gray">
            This will help your customers find your business when they need it the most
          </div>
        </div>
        <span class="ld_xs_size purple_text textDecoration_underline">Learn more</span>
      </div>
      <div class="ld_t30padding">
        <form [formGroup]="submitForm" (ngSubmit)="onSubmit(submitForm.value)">
          <div class="ld_t30padding">
            <!--<ng-container *ngIf="store.subCat == 'sc-healthcare-dentist'" -->
            <ng-container *ngFor="let x of db;let i = index">
              <ng-container *ngIf="x.type == 'radio'">
                <div class="ld_dflex boldText {{i == 0 ? '' : 'ld_t20padding'}} ld_JCspace">
                  <div>
                    {{i+1}}. {{x.question}}
                  </div>
                  <div>
                    <mat-radio-group required formControlName = {{x._id}}  aria-label="Select an option" >
                      <ng-container *ngFor="let opt of x.options">
                        <mat-radio-button   [value]="opt.value" color="primary"
                          class="ld_r20padding">{{opt.label}}</mat-radio-button>
                      </ng-container>
                    </mat-radio-group>
                  </div>
                </div>
              </ng-container>


              <ng-container *ngIf="x.type == 'text'">
                <div class="ld_dflex boldText ld_t20padding ld_JCspace">
                  <div>
                    {{i+1}}. {{x.question}}
                  </div>
                </div>
                <div class="ld_t10padding">
                  <textarea required formControlName={{x._id}} ></textarea>
                </div>
              </ng-container>
            </ng-container>
          </div>
            <h2></h2>
              <button mat-button class="mat-focus-indicator bg_purple c_white cta_button mat-button mat-button-base" >Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>
