<div class="container">
    <div class="row">


        <div class="col col-75 col-sm-100 col-card">
            <div class="card-box b_white c_black">
                <div class="boxHeader">
                    <h4>Sales</h4>
                </div>
                <google-chart [data]="columnChart"></google-chart>
                <app-content *ngIf="false"></app-content>
            </div>
        </div>

        <div class="col col-25 col-sm-100 col-card">
            <div class="card-box b_white c_black">
                <div class="boxHeader">
                    <h4>Growth Summary</h4>
                </div>
                <google-chart [data]="pieChart"></google-chart>
                <app-content *ngIf="false"></app-content>
            </div>
        </div>

        <div class="col col-100 col-sm-100 col-card">
            <div class="card-box b_white c_black">
                <div class="boxHeader">
                    <h4>Revenue</h4>
                </div>
                <google-chart [data]="timelineChart"></google-chart>
                <app-content *ngIf="false"></app-content>
            </div>
        </div>

        <div class="col col-60 col-sm-100 col-card">
            <div class="card-box b_white c_black">
                <div class="boxHeader">
                    <h4>Leaderboard</h4>
                </div>
                <google-chart [data]="lineChart"></google-chart>
                <app-content *ngIf="false"></app-content>
            </div>
        </div>

        <div class="col col-40 col-sm-100 col-card">
            <div class="card-box b_white c_black">
                <div class="boxHeader">
                    <h4>Hex Map</h4>
                </div>
                <google-chart [data]="geoChart"></google-chart>
                <app-content *ngIf="false"></app-content>
            </div>
        </div>



        <div class="col col-100">
            <h1 class="c_persist">Refr</h1>
        </div>
    </div>

</div>