<div class="container">
  <div class="row">
    <div class="section r_align bg_white">
      <div class="matDate">
        <mat-form-field appearance="outline" class="vendorSelect orderdatepick">
          <!-- <mat-label>Date Range</mat-label> -->
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>


    <div class="section bg_white ld_b40padding sd_tb20padding">
      <div class="order_section col-100 ld_dflex">
        <div class="ld_M70width br10 ld_dflex ld_c_align ld_JCspace">
          <div class="ld_dflex sd_dflex ld_M50width">
            <div class="ld_M50width sd_M50width">
              <div class="ld_s_size sd_s_size fw_400">
                Total orders
              </div>
              <div class="ld_xl_size sd_xxl_size ld_boldText sd_boldText ld_t10padding sd_t20padding">
                100
              </div>
            </div>
            <div class="ld_M50width sd_M50width">
              <div class="ld_s_size sd_s_size fw_400">
                To be shipped
              </div>
              <div class="ld_xl_size sd_xxl_size ld_boldText sd_boldText ld_t10padding sd_t20padding">
                100
              </div>
            </div>
          </div>


          <div class="ld_dflex sd_dflex ld_M50width sd_t20padding sd_b15padding">
            <div class="ld_M50width sd_M50width">
              <div class="ld_s_size sd_s_size fw_400">
                To be delivered
              </div>
              <div class="ld_xl_size sd_xxl_size ld_boldText sd_boldText ld_t10padding sd_t20padding">
                100
              </div>
            </div>
            <div class="ld_M50width sd_M50width">
              <div class="ld_s_size sd_s_size fw_400">
                Total sales
              </div>
              <div class="ld_xl_size sd_xxl_size ld_boldText sd_boldText ld_t10padding sd_t20padding">
                100
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>









    <div class="section ld_t30padding ld_b30padding sd_tb20padding">
      <div class="ld_dflex">
        <div class="ld_M30width">
          <div class="ld_boldText sd_boldText ld_m_size">
            Most ordered product
          </div>
          <div class="ld_t5padding">
            F'iT 15g Whey Protein Bar - Chocolate with Hazelnut (Pack of 6)
          </div>
        </div>
        <div class="ld_M30width ld_dflex sd_dflex sd_JCspace sd_tb15padding">
          <div class="ld_M50width sd_M50width">
            <div class="ld_boldText sd_boldText ld_m_size">
              No of orders
            </div>
            <div class="ld_t5padding">
              16
            </div>
          </div>

          <div class="ld_M50width sd_M50width">
            <div class="ld_boldText sd_boldText ld_m_size">
              Total sales
            </div>
            <div class="ld_t5padding fw_400">
              ₹1660
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section bg_white ld_t30padding sd_M100width sd_lr0padding">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="All Orders">
          <table class="ld_M100width ld_t30margin sd_Maxwidth" mat-table [dataSource]="TransationdataSource" matSort>
            <ng-container matColumnDef="Order_details">
              <th class="M40width sd_lr10padding" mat-header-cell *matHeaderCellDef mat-sort-header>
                Order details
              </th>
              <td mat-cell *matCellDef="let row" class="A10padding sd_lr10padding">
                <div class="dflex">
                  <div class="l_align AScenter overFlow_dotted l10padding">
                    <div class="s_size boldtext">
                      {{row.tranID}}
                    </div>
                    <div class="ld_xxs_size c_gray">
                      {{row.tranDate}}
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>


            <ng-container matColumnDef="Customer_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sd_lr10padding">
                Customer name
              </th>
              <td mat-cell *matCellDef="let row" class="line_throughtxt A10padding s_size sd_lr10padding">
                {{row.User_details}}
                <div class="ld_xxs_size c_gray">
                  9876543210
                </div>
              </td>
            </ng-container>


            <ng-container matColumnDef="Payment_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sd_lr10padding">
                Payment type
              </th>
              <td mat-cell class="A10padding s_size sd_lr10padding" *matCellDef="let row">
                {{row.Payment_type}}
              </td>
            </ng-container>


            <ng-container matColumnDef="Sale_Type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sd_lr10padding">
                Sale Type
              </th>
              <td mat-cell class="A10padding s_size sd_lr10padding" *matCellDef="let row">
                Recommendation Redeemed
              </td>
            </ng-container>


            <ng-container matColumnDef="Bill_Amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sd_lr10padding">
                Bill Amount
              </th>
              <td mat-cell class="A10padding s_size sd_lr10padding" *matCellDef="let row">
                ₹{{row.Bill_Amount}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Payment_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sd_lr10padding">
                Payment status
              </th>
              <td mat-cell class="A10padding s_size sd_lr10padding" *matCellDef="let row;let i = index">
                <span class="delivered" *ngIf="i == 0">
                  Delivered
                </span>
                <span class="Shipped" *ngIf="i == 1">
                  Shipped
                </span>
                <span class="Refunded" *ngIf="i == 2">
                  Refunded
                </span>
                <span class="Pending" *ngIf="i == 3">
                  Pending
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="show">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="sd_lr10padding"></th>
              <td mat-cell class="A10padding sd_lr10padding" *matCellDef="let row">
                <mat-icon (click)="orderDetails()">
                  visibility
                </mat-icon>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="OrderColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: OrderColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
            </tr>
          </table>
        </mat-tab>
        <mat-tab label="Pending">Refr Token given</mat-tab>
        <mat-tab label="Delivered">Refund</mat-tab>
        <mat-tab label="Shipped">Withdrawals</mat-tab>
        <mat-tab label="Refund">Wallet Refill</mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
