<div class="container">
  <div class="row">
    <div class="section">
      <div class="ld_dflex ld_JCspace sd_dflex sd_JCspace">
        <div>
          <div class="ld_boldText ld_l_size purple_text">
            All Customers
          </div>
          <div class="c_gray ld_xs_size ld_t2padding">
            1,500 Total Customers
          </div>
        </div>
        <div>
          <button Mat-button class="bg_purple c_white border_none ld_A10padding br6">
            Create customer
          </button>
        </div>
      </div>
    </div>
    <div class="section ld_l_size ld_t30padding">
      Highlights and reviews
    </div>
    <div class="section">
      <div>asdasd</div>
      <div class="ld_M30width" *ngFor="let x of recom">
        <div>
          <span class="ld_boldText ld_s_size">Vishal Pise</span><span class="c_gray ld_xs_size">
            12/03/2023 12:03pm
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
