.progressbar {
  margin: 2rem 0;
  .pb_border {
    border: 1px solid #8111e8;
    border-radius: 4px;
    .pb_yellow {
      height: 10px;
      width: 20%;
      background: #ceff00;
      border-radius: 4px 0px 0px 4px;
      animation: load 3s normal forwards;
    }
    @keyframes load {
      0% {
        width: 0;
      }
      100% {
        width: 68%;
      }
    }
  }
}
@media (min-width: 1270px) {
  .main {
    display: flex;
    justify-content: center;
  }

  .gradient_svg {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/refr/o/FIAMImages%2FSetup%20your%20business.svg?alt=media&token=2838ea11-890e-4ad0-a75f-0da6633b3a16);
    background-position: 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box {
    display: flex;
    transition: all 0.4s ease;
    opacity: 1;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    position: absolute;
  }

  .section {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }

  .article {
    box-shadow: 6px 12px 60px rgba(0, 0, 0, 0.2);
    width: auto;
    min-height: 0;
    // margin: 3rem auto;
    background-color: white;
    border-radius: 1.2rem;
    // max-height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
  }

  .contents {
    min-height: 80vh;
    height: auto;
    width: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 2rem 4rem;
  }

  .progressbar {
    margin: 2rem 0;
  }
  .flex_2 {
    flex: 2 1;
  }
  .setup_heading {
    padding: 1rem 0 0 0;
  }
  .setup_heading .h1 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .setup_heading .p {
    font-size: 18px;
    color: #6d7075;
  }
  .storedetails {
    padding: 2rem 0;
    display: flex;
    .details {
      width: 50%;
      .label {
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 10px;
        color: #1e1e1e;
      }
      .fullWidth {
        width: 90%;
      }
    }
  }

  .switch {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  .btn {
    text-align: right;
    button {
      background: #8111e8;
      box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.25);
      border-radius: 10px;
      padding: 2px 25px;
      font-weight: 500;
      font-size: 16px;

      color: white;
    }
  }
}

@media (max-width: 1270px) {
  .contents {
    padding: 4rem;
  }
  .progressbar {
    margin: 2rem 0;
  }
  .setup_heading {
    padding: 1rem 0;
  }
  .setup_heading .h1 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .setup_heading .p {
    font-size: 16px;
    color: #6d7075;
  }
  .storedetails {
    padding: 2rem 0;
    display: flex;
    .details {
      width: 50%;
      .label {
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 10px;
        color: #1e1e1e;
      }
      .fullWidth {
        width: 90%;
      }
    }
  }

  .switch {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  .btn {
    text-align: right;

    margin-top: 4rem;

    button {
      background: #8111e8;
      box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.25);
      border-radius: 10px;
      padding: 2px 25px;
      font-weight: 500;
      font-size: 16px;

      color: white;
    }
  }
}

@media (max-width: 768px) {
  .contents {
    padding: 1rem;
  }
  .progressbar {
    margin: 2rem 0;
  }
  .setup_heading {
    padding: 1rem 0;
  }
  .setup_heading .h1 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .setup_heading .p {
    font-size: 16px;
    color: #6d7075;
  }
  .storedetails {
    display: flex;
    flex-direction: column;
    padding: 0;
    .details {
      width: 100%;
      padding-top: 2rem;
      .label {
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 10px;
        color: #1e1e1e;
      }
      .fullWidth {
        width: 100%;
      }
    }
  }

  .switch {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding-top: 2rem;
    .store_m {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .btn {
    text-align: right;

    margin-top: 2rem;

    button {
      background: #8111e8;
      box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.25);
      border-radius: 10px;
      padding: 2px 25px;
      font-weight: 500;
      font-size: 16px;

      color: white;
    }
  }
}
