<div class="container">
  <div class="row">
    <div class="ld_dflex ld_l25padding ld_r25padding ld_tb20padding bborder_gray position_sticky top0 bg_white ld_JCspace">
      <div class="ld_dflex">
        <div class="ld_MFitwidth c_align ld_dflex ld_AScenter" (click)="close()">
          <mat-icon>
            close
          </mat-icon>
        </div>
        <div class="boldText ld_m_size ld_l10padding ld_AScenter">
          Order ID : 1234567890
        </div>
      </div>
      <div>
        <button mat-mini-fab class="bg_Light_purple purple_text noshadow">
          <mat-icon>
            download
          </mat-icon>
        </button>
      </div>
    </div>

    <div class="ld_A25padding bborder_gray">
      <div class="ld_dflex">
        <div class="ld_M50width ld_m_size boldText">
          Customer details
        </div>
        <div class="ld_M50width ld_s_size ld_AScenter c_darkgreen r_align">
          Payment successful
        </div>
      </div>

      <div class="ld_dflex ld_t30padding">
        <div class="ld_MFitwidth boldText ld_s_size ld_r10padding">
          <div class="ld_b10padding">
            Name :
          </div>
          <div class="ld_b10padding">
            Contact No :
          </div>
          <div>
            Address :
          </div>
        </div>
        <div>
          <div class="ld_b10padding">
            Vishal Pise
          </div>
          <div class="ld_b10padding">
            9112345678
          </div>
          <div>
            31, Chiranjeev building, Gulmohar Road 4.
            400049, Opposite Naturals
          </div>
        </div>
      </div>
    </div>





    <div class="ld_t25padding ld_l25padding ld_r25padding">
      <div class="ld_b5padding">
        <div class="ld_M50width ld_m_size boldText">
          Order details
        </div>
      </div>
      <div class="bborder_gray ld_b25padding">
        <div class="ld_dflex ld_t15padding ld_JCspace">
          <div>
            <span class="ld_boldText">1 x</span> Paneer Butter Masala
          </div>
          <div>
            ₹498
          </div>
        </div>

        <div class="ld_dflex ld_t15padding ld_JCspace">
          <div>
            <span class="ld_boldText">2 x</span> Veg Fried Rice
          </div>
          <div>
            ₹502
          </div>
        </div>
        <div class="ld_dflex ld_t15padding ld_JCspace">
          <div>
            <span class="ld_boldText">1 x</span> Veg Hakka Noodles
          </div>
          <div>
            ₹600
          </div>
        </div>
      </div>
      <div class="bborder_gray ld_t25padding ld_b25padding">
        <div class="ld_dflex ld_JCspace">
          <div>
            Item Total
          </div>
          <div>
            ₹1600
          </div>
        </div>

        <div class="ld_dflex ld_t15padding ld_JCspace">
          <div>
            Tax
          </div>
          <div>
            ₹20
          </div>
        </div>

        <div class="ld_dflex ld_t15padding ld_JCspace">
          <div>
            Delivery charges
          </div>
          <div>
            ₹20
          </div>
        </div>
      </div>
      <div>
        <div class="ld_dflex ld_t15padding ld_b15padding ld_JCspace ld_l_size ld_boldText">
          <div>
            Total amount
          </div>
          <div>
            ₹1640
          </div>
        </div>
      </div>
    </div>

    <div class="ld_tb10padding ld_l10margin ld_r10margin position_sticky bottom0 bg_white">
      <button mat-button class="ld_M100width purple_text bg_Light_purple">
        Shipped
      </button>
    </div>
  </div>
</div>
