.progressbar {
  margin: 2rem 0;
  .pb_border {
    border: 1px solid #8111e8;
    border-radius: 4px;
    .pb_yellow {
      height: 6px;
      width: 20%;
      background: #ceff00;
      border-radius: 4px 0px 0px 4px;
      animation: load 3s normal forwards;
    }
    @keyframes load {
      0% {
        width: 0;
      }
      100% {
        width: 20%;
      }
    }
  }
}

@media (min-width: 1270px) {
  .main {
    display: flex;
    justify-content: center;
  }

  .gradient_svg {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/refr/o/FIAMImages%2FSetup%20your%20business.svg?alt=media&token=2838ea11-890e-4ad0-a75f-0da6633b3a16);
    background-position: 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box {
    display: flex;
    transition: all 0.4s ease;
    opacity: 1;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    position: absolute;
  }

  .section {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }

  .article {
    box-shadow: 6px 12px 60px rgba(0, 0, 0, 0.2);
    width: auto;
    min-height: 0;
    // margin: 3rem auto;
    background-color: white;
    border-radius: 1.2rem;
    // max-height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
  }

  .contents {
    min-height: 80vh;
    height: auto;
    width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 2rem 4rem;
  }

  .progressbar {
    margin: 2rem 0;
  }

  .flex_2 {
    height: 380px;
    overflow-y: scroll;
  }
  .flex_2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  .flex_2::-webkit-scrollbar-thumb {
    background: #8111e8;
    border-radius: 5px;
  }

  .setup_heading {
    padding: 1rem 0 0 0;
    .h1 {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    .p {
      font-size: 16px;
      color: #6d7075;
    }
  }
  .store_section {
    padding-top: 2rem;
    .h1 {
      color: #1e1e1e;
      font-weight: 600;
      font-size: 16px;
      padding: 0.2rem 0 0.5rem 0;
      span {
        color: #8b8b8b;
        font-size: 10px;
      }
    }

    .upload_logo {
      display: flex;
      align-items: center;
      gap: 2rem;
      .uploadLogo {
        width: 55px;
        height: 55px;
        background: #fcfaff;
        border: 1px solid #c285ff;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        svg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }
      .uploadLogo_text {
        font-weight: 400;
        font-size: 14px;
        width: 20%;
      }
    }

    .upload_banner {
      background: #fcfaff;
      border: 1px solid #c285ff;
      border-radius: 5px;
      width: 50%;
      padding: 30px 0;
      cursor: pointer;
      .uploadBanner {
        text-align: center;
        width: 40%;
        margin: auto;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .p {
      color: #8b8b8b;
      font-size: 12px;
      font-weight: 400;
      padding: 0.5rem 0 0 0;
    }

    .section_width {
      width: 100% !important;
    }
  }

  mat-form-field {
    width: 90%;
  }

  .section_type {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .section_w {
    width: 45%;
    .h1{
      padding: 0 0 0.5rem 0;
    }
  }

  .social_links {
    padding-top: 2rem;
    .socaialLink_header {
      font-weight: 600;
      font-size: 18px;
      color: #1e1e1e;
      padding-bottom: 2rem;
    }
    .otherlinks {
      .links {
        font-weight: 400;
        font-size: 14px;
        color: #1e1e1e;
        padding: 0 0 0.9rem 0;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    a {
      text-decoration: none;
      display: flex;
      align-items: end;
      color: #8b8b8b;
      font-weight: 500;
      font-size: 16px;
    }
    button {
      background: #8111e8;
      box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.25);
      border-radius: 10px;
      padding: 2px 25px;
      font-weight: 500;
      font-size: 16px;

      color: white;
    }
  }
}

@media (max-width: 1270px) {
  .contents {
    padding: 4rem;
  }
  .progressbar {
    margin: 2rem 0;
  }

  .setup_heading {
    padding: 1rem 0 0 0;
    .h1 {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    .p {
      font-size: 16px;
      color: #6d7075;
    }
  }

  .flex_2 {
    height: 380px;
    overflow-y: scroll;
  }
  .flex_2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  .flex_2::-webkit-scrollbar-thumb {
    background: #8111e8;
    border-radius: 5px;
  }

  .store_section {
    padding-top: 2rem;
    .h1 {
      color: #1e1e1e;
      font-weight: 600;
      font-size: 16px;
      padding: 0.2rem 0 0.5rem 0;
      span {
        color: #8b8b8b;
        font-size: 10px;
      }
    }

    .upload_logo {
      display: flex;
      align-items: center;
      gap: 2rem;
      .uploadLogo {
        width: 55px;
        height: 55px;
        background: #fcfaff;
        border: 1px solid #c285ff;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;

        svg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }
      .uploadLogo_text {
        font-weight: 400;
        font-size: 14px;
        width: 20%;
      }
    }

    .upload_banner {
      background: #fcfaff;
      border: 1px solid #c285ff;
      border-radius: 5px;
      width: 50%;
      padding: 30px 0;
      cursor: pointer;
      .uploadBanner {
        text-align: center;
        width: 40%;
        margin: auto;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .p {
      color: #8b8b8b;
      font-size: 12px;
      font-weight: 400;
      padding: 0.5rem 0 0 0;
    }

    .section_width {
      width: 100% !important;
    }
  }

  mat-form-field {
    width: 90%;
  }

  .section_type {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .section_w {
    width: 45%;
    .h1{
      padding: 0 0 0.5rem 0;
    }
  }

  .social_links {
    padding-top: 2rem;
    .socaialLink_header {
      font-weight: 600;
      font-size: 18px;
      color: #1e1e1e;
      padding-bottom: 2rem;
    }
    .otherlinks {
      .links {
        font-weight: 400;
        font-size: 14px;
        color: #1e1e1e;
        padding: 0 0 0.9rem 0;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    a {
      text-decoration: none;
      display: flex;
      align-items: end;
      color: #8b8b8b;
      font-weight: 500;
      font-size: 16px;
    }
    button {
      background: #8111e8;
      box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.25);
      border-radius: 10px;
      padding: 2px 25px;
      font-weight: 500;
      font-size: 16px;

      color: white;
    }
  }
}

@media (max-width: 768px) {
  .contents {
    padding: 1rem;
  }
  .progressbar {
    margin: 2rem 0;
  }
  .setup_heading {
    padding: 1rem 0 0 0;
  }
  .setup_heading .h1 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .setup_heading .p {
    font-size: 16px;
    color: #6d7075;
  }

  .flex_2 {
    height: auto;
    overflow: hidden;
  }

  .setup_heading {
    padding: 1rem 0 0 0;
    .h1 {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    .p {
      font-size: 16px;
      color: #6d7075;
    }
  }
  .store_section {
    padding-top: 2rem;
    .h1 {
      color: #1e1e1e;
      font-weight: 600;
      font-size: 16px;
      padding: 0.2rem 0 0.5rem 0;
      span {
        color: #8b8b8b;
        font-size: 10px;
      }
    }

    .upload_logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-direction: column;
      .uploadLogo {
        width: 55px;
        height: 55px;
        background: #fcfaff;
        border: 1px solid #c285ff;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        svg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
        .uploadLogo_text {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    .upload_banner {
      background: #fcfaff;
      border: 1px solid #c285ff;
      border-radius: 5px;
      width: 98%;
      padding: 30px 0;
      cursor: pointer;
      .uploadBanner {
        text-align: center;
        width: 40%;
        margin: auto;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .p {
      color: #8b8b8b;
      font-size: 12px;
      font-weight: 400;
      padding: 0.5rem 0 0 0;
    }

    .section_width {
      width: 100% !important;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .section_type {
    width: 100%;
    flex-direction: column;
  }
  .otherlinks{
    gap: 1rem;
  }
  .section_w {
    width: 100%;
  }

  .social_links {
    padding-top: 2rem;
    .socaialLink_header {
      font-weight: 600;
      font-size: 18px;
      color: #1e1e1e;
      padding-bottom: 1rem;
    }
    .otherlinks {
      .links {
        font-weight: 400;
        font-size: 14px;
        color: #1e1e1e;
        padding: 0 0 0.9rem 0;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    a {
      text-decoration: none;
      display: flex;
      align-items: end;
      color: #8b8b8b;
      font-weight: 500;
      font-size: 16px;
    }
    button {
      background: #8111e8;
      box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.25);
      border-radius: 10px;
      padding: 2px 25px;
      font-weight: 500;
      font-size: 16px;

      color: white;
    }
  }
}
