.onlineStatus{
    padding: 8px 16px 8px 8px !important;
    margin: 0 !important;
    position: absolute;
    right: 12px;
    top: 0px;
    border-radius: 8px;
    transition-duration: 0.3s;
}
.hideWarn{ top: 12px; visibility: hidden;}
.showWarn{ top: 12px;}