<div class="container" *ngIf="auth.user$ | async as mine">
    <div class="row">
        <div class="col col-100 lucky" style="margin-top: 0;">
            <div class="main-content b_accent">
                <div class="recent-orders">
                    <div class="mat-card b_persist">
                        <div class="heading">
                            <b>Orders List</b>
                        </div>
                        <hr>
                        <div class="d-flex-row-md d-flex-col-sm flex-wrap">
                            <ng-container *ngIf="paymentOrder$ | async as paymentOrder">
                                <ng-container *ngFor="let x of paymentOrder; let i = index">
                                    <ng-container *ngIf="
                                    x.status > 0 || x.status < 0 || 
                                    x.ordrTYPE == 'COD' && x.status == 0 ||
                                    x.ordrTYPE == 'RefrCASH+COD' && x.status == 0 ||
                                    x.invoice.useRefrCash && (x.invoice.amtRefrCash == x.amTotal)
                                    ">
                                        <div class="order-item col-48 col-sm-100">
                                            <div>
                                                <div class="border1px Br_5All">
                                                    <div class="A15padding">
                                                        <div class="client_cont c_black">
                                                            <div class="align_center">{{x.userName}}</div>
                                                            <div class="col-50 s_size r_align gray_txt">
                                                                <span>{{x.sin.toDate() | date:'MMM dd, yyyy |
                                                                    hh:mm a'}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex-row">
                                                            <div class="boldtxt d_flex col-70 c_black"><span>Payment
                                                                    Method
                                                                    :&nbsp;</span>
                                                                <span class="align_center">
                                                                    <span class="normal_txt"
                                                                        *ngIf="x.ordrTYPE == 'CASH'">Cash</span>
                                                                    <span class="normal_txt"
                                                                        *ngIf="x.ordrTYPE == 'ONLINE'">Online</span>
                                                                    <span class="normal_txt"
                                                                        *ngIf="x.ordrTYPE == 'RefrCASH'">Refr
                                                                        Cash</span>
                                                                    <span class="normal_txt"
                                                                        *ngIf="x.ordrTYPE == 'COD'">COD</span>
                                                                    <span class="normal_txt"
                                                                        *ngIf="x.ordrTYPE == 'RefrCASH+ONLINE'">Refr
                                                                        Cash +
                                                                        Online</span>
                                                                    <span class="normal_txt"
                                                                        *ngIf="x.ordrTYPE == 'RefrCASH+COD'">Refr Cash +
                                                                        COD</span>
                                                                </span>
                                                            </div>
                                                            <div class="col-30 r_align">
                                                                <span *ngIf="x.cart.length > 0"
                                                                    class="online boldtxt">Online Order</span>
                                                                <span *ngIf="x.cart.length <= 0"
                                                                    class="offline boldtxt">In-Store Order</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex-row" *ngIf="x.journey != 'BURN' && ((x.journey == 'F2F' && (x.refr.earn +
                                                        x.earn > 0 )) || (x.journey != 'F2F' && x.earn > 0))">
                                                            <div class="boldtxt c_black d_flex"><span>Cashback <span *ngIf="x.done == undefined">&nbsp;will be&nbsp;</span>Given :
                                                                </span>
                                                                <svg class="align_center" width="15" height="15"
                                                                    viewBox="0 0 18 18" fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M9.00026 15.0454C12.4543 15.0454 15.2544 12.2454 15.2544 8.79128C15.2544 5.3372 12.4543 2.53711 9.00026 2.53711C5.54618 2.53711 2.74609 5.3372 2.74609 8.79128C2.74609 12.2454 5.54618 15.0454 9.00026 15.0454Z"
                                                                        fill="#FECB00" />
                                                                    <path
                                                                        d="M8.87299 13.6362C11.5373 13.6362 13.6972 11.4764 13.6972 8.81208C13.6972 6.14777 11.5373 3.98792 8.87299 3.98792C6.20868 3.98792 4.04883 6.14777 4.04883 8.81208C4.04883 11.4764 6.20868 13.6362 8.87299 13.6362Z"
                                                                        fill="#EFA900" />
                                                                    <path
                                                                        d="M6.50336 6.77167H8.87253V12.5604L5.50586 8.37L6.50336 6.77167Z"
                                                                        fill="#E19100" />
                                                                    <path
                                                                        d="M11.5196 6.83752H9.15039V12.6267L12.5171 8.43586L11.5196 6.83752Z"
                                                                        fill="#E19100" />
                                                                    <path
                                                                        d="M6.50336 6.63165H8.87253V12.1637L5.50586 8.15915L6.50336 6.63165Z"
                                                                        fill="#FECB00" />
                                                                    <path
                                                                        d="M11.4746 6.68292L9.10547 6.68334V12.2154L12.4721 8.21084L11.4746 6.68292Z"
                                                                        fill="#FECB00" />
                                                                    <path
                                                                        d="M10.2749 5.37292L9.28906 6.30418L11.2836 6.30709L10.2749 5.37292Z"
                                                                        fill="#E19100" />
                                                                    <path
                                                                        d="M7.78466 5.37292L6.79883 6.30418L8.79341 6.30709L7.78466 5.37292Z"
                                                                        fill="#E19100" />
                                                                    <path
                                                                        d="M10.2999 5.18292L9.31445 6.11417L11.3086 6.11709L10.2999 5.18292Z"
                                                                        fill="#FECB00" />
                                                                    <path
                                                                        d="M7.78466 5.18292L6.79883 6.11417L8.79341 6.11709L7.78466 5.18292Z"
                                                                        fill="#FECB00" />
                                                                </svg>
                                                                <span class="normal_txt"
                                                                    *ngIf="x.journey == 'F2F'">{{x.refr.earn +
                                                                    x.earn}}</span>
                                                                <span class="normal_txt"
                                                                    *ngIf="x.journey != 'F2F'">{{x.earn}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex-row purple_txt">
                                                            <span
                                                                *ngIf="x.journey=='F2F' || x.journey == 'POS' && x.refr != null"
                                                                class="boldtxt">Sales via Recommendation</span>
                                                            <span
                                                                *ngIf="x.journey=='DIRECT' || x.journey == 'POS' && x.refr == null"
                                                                class="boldtxt">Direct Sale</span>
                                                            <span class="boldtxt" *ngIf="x.journey == 'BURN'">Sales via
                                                                Burn</span>
                                                        </div>
                                                        <div class="d_flex t5padding paymentReceived_height">
                                                            <span class="boldtxt profit_txt align_center"
                                                                *ngIf="x.status !== -10 && x.logistics.status !== -1000 && ( x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN' || x.journey == 'POS')">Payment
                                                                Received</span>
                                                            <span class="boldtxt profit_txt align_center"
                                                                *ngIf="x.status == -10 && x.logistics.status == -1000 && ( x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN')">Payment
                                                                Refunded</span>

                                                            <svg class="align_center l5padding" width="13" height="13"
                                                                viewBox="0 0 13 13" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="6.5" cy="6.5" r="6.5" fill="#27AE60" />
                                                                <path d="M9.66667 4L5.08333 8.58333L3 6.5"
                                                                    stroke="white" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                            </svg>
                                                            <span class="divide"></span>
                                                            <button class="expandbtn" *ngIf="x.cart.length > 0"
                                                                mat-stroked-button color="primary"
                                                                (click)="expandOrderCard(x.id)">Order Details <mat-icon>
                                                                    {{
                                                                    showDetailsOrders.includes(x.id) ? 'arrow_drop_up' :
                                                                    'arrow_drop_down' }}</mat-icon></button>
                                                        </div>
                                                    </div>
                                                    <ng-container *ngIf="showDetailsOrders.includes(x.id)">
                                                        <div class="A15padding tborder">
                                                            <div class="boldtxt c_black">Order Summary</div>
                                                            <div class="d-flex-row">
                                                                <div class="boldtxt"><span
                                                                        class="boldtxt c_black">ID</span>
                                                                    : {{ !x.setShortID ? x.shortID : x.id }}</div>
                                                            </div>
                                                            <ng-container *ngFor="let c of x.cart;let i = index">
                                                                <div class="d-flex-row c_black t10padding">
                                                                    <div class="col-75">
                                                                        <span class="s_size">{{c.Q}} X </span>
                                                                        <span class="boldtxt">{{c.title}}</span>
                                                                    </div>
                                                                    <div class="col-25 r_align">₹ {{c.cost * c.Q }}</div>
                                                                </div>
                                                                <ng-container *ngIf="c.vX.length > 0">
                                                                    <div class="d-flex-row"
                                                                        *ngFor="let vX of c.vX; let i = index;">
                                                                        <div class="col-75">
                                                                            <span *ngFor="let v of vX.nowVarient"
                                                                                class="r5padding">{{ getVARIENT(v)
                                                                                }}</span>
                                                                        </div>
                                                                    </div>
                                                                </ng-container>
                                                            </ng-container>
                                                        </div>
                                                        <div class="lr15tb10padding tborder d-flex-row">
                                                            <div class="col-50 c_black boldtxt ">Taxes</div>
                                                            <div class="col-50 r_align c_black">₹ {{x.amTax}}</div>
                                                        </div>
                                                        <div class="lr15tb10padding tborder d-flex-row">
                                                            <div class="col-50 c_black boldtxt ">Delivery charges</div>
                                                            <div class="col-50 r_align c_black">₹ {{x.amParcel}}</div>
                                                        </div>
                                                        <div class="lr15tb10padding tborder d-flex-row">
                                                            <div class="col-50 c_black boldtxt">
                                                                Total Bill Amount
                                                            </div>
                                                            <div class="col-50 r_align m_size c_black">
                                                                ₹ {{x.amTotal}}
                                                            </div>
                                                        </div>
                                                        <div class="A15padding tborder">
                                                            <div class="boldtxt c_black">
                                                                <span class="c_black boldtxt">Contact Number :</span> <span
                                                                    class="normal_txt">{{x.logistics.phone}}</span>
                                                            </div>
                                                            <div *ngIf="x.logistics.addressDrop">
                                                                <span class="c_black boldtxt">Drop Address :</span>
                                                                <span class="normal_txt"
                                                                    *ngIf="x.logistics.addressDrop">
                                                                    {{x.logistics.addressDrop.address}},
                                                                    {{x.logistics.addressDrop.zip}},
                                                                    {{x.logistics.addressDrop.landmark}}
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </ng-container>
                                                    <div class="d-flex-row A15padding purplebg">
                                                        <div class="col-50 c_black m_size boldtxt A_center">Total Bill :
                                                            ₹ {{x.amTotal}}</div>
                                                        <div class="col-50 r_align">
                                                            <button class="rounded_btn complete_btn" mat-button
                                                                *ngIf="x.journey == 'POS'">Complete</button>
                                                            <select *ngIf=" 
                                                        (x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN') && x.status == 0 && (x.ordrTYPE == 'COD' || x.ordrTYPE == 'RefrCASH' || x.ordrTYPE == 'RefrCASH+COD') ||
                                                        (x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN') && x.status == 1 && (x.ordrTYPE == 'ONLINE' || x.ordrTYPE == 'RefrCASH+ONLINE') ||
                                                        false " #oStatePlaced [ngModel]=" 'Placed' "
                                                                (ngModelChange)=" ordrStatus(  x.journey, x , oStatePlaced.value ); oStatePlaced.value = 'Placed' "
                                                                name="ordrStatusPlaced" [disabled]="makeChanges"
                                                                required class="roundedselect">
                                                                <option value="Placed">Placed</option>
                                                                <option value="Refund">Refund</option>
                                                                <option value="Shipping">Shipping</option>
                                                                <option value="Delivered" *ngIf="!x.logistics.require">
                                                                    Delivered</option>
                                                            </select>

                                                            <button class="rounded_btn b_primary c_white" mat-button
                                                                *ngIf="
                                                        x.logistics.require && x.status == 10 && x.logistics.status == 10 && (x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN')"
                                                                (click)=" ordrStatus(  x.journey, x , 'Track' );">Shipping</button>
                                                            <select
                                                                *ngIf=" 
                                                        !x.logistics.require && x.status == 10 && x.logistics.status == 10 && (x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN')"
                                                                #oStateShipping [ngModel]=" 'Shipping' "
                                                                (ngModelChange)="ordrStatus( x.journey, x , oStateShipping.value )"
                                                                name="ordrStatusShipping" [disabled]="makeChanges"
                                                                required class="roundedselect">
                                                                <option value="Shipping">Shipping</option>
                                                                <option value="Delivered" *ngIf="!x.logistics.require">
                                                                    Delivered</option>
                                                            </select>
                                                            <button class="rounded_btn complete_btn" mat-button
                                                                *ngIf=" x.ordrTYPE == 'CASH' && x.status == 10 && x.logistics.status == 0 && ( x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN')">Complete</button>
                                                            <button class="rounded_btn delivered_btn" mat-button
                                                                *ngIf="x.status == 10 && x.logistics.status == 20 && ( x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN')">Delivered</button>
                                                            <button class="rounded_btn reject_btn" mat-button
                                                                *ngIf="x.status == -10 && x.logistics.status == -10 && ( x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN')">Rejected</button>
                                                            <button class="rounded_btn refund_btn" mat-button
                                                                *ngIf="x.status == -10 && x.logistics.status == -100 && ( x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN')">Returned</button>
                                                            <button class="rounded_btn refund_btn" mat-button
                                                                *ngIf="x.status == -10 && x.logistics.status == -1000 && ( x.journey == 'F2F' || x.journey == 'DIRECT' || x.journey == 'BURN')">Refunded</button>
                                                            <button class="rounded_btn complete_btn" mat-button
                                                                *ngIf="false">Prepared</button>
                                                            <button class="rounded_btn complete_btn" mat-button
                                                                *ngIf="false">Pending</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <p *ngIf="paymentOrder.length == 0"><br>You have no recent orders.</p>
                            </ng-container>
                        </div>
                        <app-content *ngIf="!(paymentOrder$ | async)"></app-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>