.formHold{
    animation: formHold .6s;
        @keyframes formHold {
          0%{height: 0vh; visibility: hidden; opacity: 0;}
          50%{height: 0vh; visibility: visible; opacity: 0;}
          100%{height: auto; opacity: 1;}
        }
    form{
      .fullWidth{
        width: 98%;
        font-size: 18px;
        margin: 0 1% 8px 1%;
        max-width: 380px;
          a svg{height: 20px; line-height: 20px; padding: 5px;}
          a .loader{animation: loader 1s infinite;}
          @keyframes loader {
              from{transform: rotate(0deg);}
              to{transform: rotate(360deg);}
          }
      }
      .halfWidth{width: 48%;
        font-size: 18px; 
        margin: 0 1% 8px 1%;
        max-width: 190px;
      }
      .togglePad{padding-bottom: 16px;}
    }
  }
  
  .formFoot{
      display: flex;
      margin: 24px 0 0 0;
  }