<div class="gradient">
    <div class="h1 fw_500 textR">Campaign Wallet Balance : <span class="fw_400">₹1660</span></div>
</div>


<div class="container">
    <div class="row">
        <div class="section">

            <div
                class="dashboard_area ld_dflex md_dflex sd_dflex ld_align-items-center md_align-items-center sd_align-items-center ld_JCspace md_JCspace sd_JCspace">
                <div>
                    <div>
                        <mat-form-field appearance="outline" class="vendorSelect">
                            <mat-label>All campaigns</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let x of recommend" [value]="x.value">
                                    {{x.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="matDate">
                    <mat-form-field appearance="outline" class="vendorSelect">
                        <mat-label>Enter Start and End date</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date">
                            <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>

            <div class="total_lists ld_t30margin md_t30margin">
                <div class="total_section ld_b30padding md_b30padding">
                    <div class="total_section_item ">
                        <div class="h1 ld_m_size md_m_size sd_xl_size fw_400 c_black sd_m_size">Total Views</div>
                        <div class="p fw_600 ld_xl_size md_xl_size sd_xl_size ld_t10padding md_t10padding c_black">123</div>
                    </div>
                    <div class="total_section_item ">
                        <div class="h1 ld_m_size md_m_size  sd_xl_size fw_400 c_black sd_m_size">Total saves</div>
                        <div class="p fw_600 ld_xl_size md_xl_size sd_xl_size ld_t10padding md_t10padding c_black">4280</div>
                    </div>
                    <div class="total_section_item ">
                        <div class="h1 ld_m_size md_m_size  sd_xl_size fw_400 c_black sd_m_size">Total Clicks</div>
                        <div class="p fw_600 ld_xl_size md_xl_size sd_xl_size ld_t10padding md_t10padding c_black">19800</div>
                    </div>
                    <div class="total_section_item ">
                        <div class="h1 ld_m_size md_m_size  sd_xl_size fw_400 c_black sd_m_size">Total conversion</div>
                        <div class="p fw_600 ld_xl_size md_xl_size sd_xl_size ld_t10padding md_t10padding c_black">14K</div>
                    </div>
                </div>
                <div class="total_section ld_t30padding md_t30padding">
                    <div class="total_section_item ">
                        <div class="h1 ld_m_size md_m_size  sd_m_size sd_xl_size fw_400 ld_M50width lineheight_normal c_black">Last Wallet
                            Refill Date</div>
                        <div class="p fw_600 ld_xl_size md_xl_size sd_xl_size ld_t10padding md_t10padding c_black">12/03/23</div>
                    </div>
                    <div class="total_section_item ">
                        <div class="h1 ld_m_size md_m_size  sd_m_size sd_xl_size fw_400 ld_M50width lineheight_normal c_black">Wallet balance
                        </div>
                        <div class="p fw_600 ld_xl_size md_xl_size sd_xl_size ld_t10padding md_t10padding c_black">₹4280</div>
                    </div>
                    <div class="total_section_item ">
                        <div class="h1 ld_m_size md_m_size  sd_m_size sd_xl_size fw_400 ld_M50width lineheight_normal c_black">Cost per
                            recommendation</div>
                        <div class="p fw_600 ld_xl_size md_xl_size sd_xl_size ld_t10padding md_t10padding c_black">₹20</div>
                    </div>
                    <div class="total_section_item ">
                        <div class="h1 ld_m_size md_m_size  sd_m_size sd_xl_size fw_400 ld_M50width lineheight_normal c_black">Cost per
                            conversion</div>
                        <div class="p fw_600 ld_xl_size md_xl_size sd_xl_size ld_t10padding md_t10padding c_black">₹20</div>
                    </div>
                    <div class="total_section_item">
                        <button mat-button class="purple_text Aborder_purple fw_400" routerLink="/recommendsetting">Recommendation setting&nbsp;<svg
                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 12H19" stroke="#874BF9" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12 5L19 12L12 19" stroke="#874BF9" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>


            <div class="tabs_section ld_t30margin md_t30margin">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Reach" class="purple_text">
                        <div class="tab_section">
                            <!-- <div class="search_field">
                                <input class="border_none outline_none ld_lr20padding md_lr20padding" matInput type="text" placeholder="Search by customer name, order ID">
                                <mat-icon matSuffix>search</mat-icon>
                            </div> -->

                            <table mat-table [dataSource]="reachTable" class="vendorTable ld_t30margin md_t30margin">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
    
                                <!-- Position Column -->
                                <ng-container matColumnDef="transaction">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size sd_l_size fw_400 textC c_black sd_lr20padding"> Transaction details </th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size text_capitalize textC ld_A20padding md_A20padding">
                                        {{element.transaction}}
    
                                        <div class="textC ld_s_size md_s_size c_gray">23/03/23 4:30pm</div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="userdetails">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size sd_l_size fw_400 textC c_black sd_lr20padding">User details</th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size textC ld_A20padding md_A20padding"> {{element.user}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="interaction">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size sd_l_size fw_400 textC c_black"> Interaction </th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size textC ld_A20padding md_A20padding">
                                        {{element.interaction}}
                                        <div class="textC ld_s_size md_s_size c_custom_gray">Clicks</div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="token">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size sd_l_size fw_400 textC c_black sd_lr20padding"> Refr Tokens given </th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size textC ld_A20padding md_A20padding"> {{element.token}}
                                    </td>
                                </ng-container>
    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Conversions" class="purple_text">
                        <div class="tab_section">
                            <!-- <div class="search_field">
                                <input class="border_none outline_none ld_lr20padding md_lr20padding" matInput type="text" placeholder="Search by customer name, order ID">
                                <mat-icon matSuffix>search</mat-icon>
                            </div> -->

                            <table mat-table [dataSource]="conversionsTable" class="vendorTable  ld_t30margin md_t30margin">

                                
                                <ng-container matColumnDef="transaction">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size fw_400 textC c_black sd_lr20padding"> Transaction details </th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size text_capitalize textC ld_A20padding md_A20padding">
                                        {{element.transaction}}
    
                                        <div class="textC ld_s_size md_s_size c_gray">23/03/23 4:30pm</div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="userdetails">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size sd_l_size fw_400 textC c_black sd_lr20padding">User details</th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size textC ld_A20padding md_A20padding"> {{element.user}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="recommend">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size sd_l_size fw_400 textC c_black"> Recommended by </th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size textC ld_A20padding md_A20padding">
                                        {{element.recommend}}
                                        <div class="textC ld_s_size md_s_size c_custom_gray">Clicks</div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="token">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size sd_l_size fw_400 textC c_black sd_lr20padding"> Refr Tokens given </th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size textC ld_A20padding md_A20padding"> {{element.token}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="totalamount">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="ld_fs_17 md_l_size sd_l_size fw_400 textC c_black sd_lr20padding"> Total amount </th>
                                    <td mat-cell *matCellDef="let element"
                                        class="ld_m_size md_m_size textC ld_A20padding md_A20padding"> {{element.totalamount}}
                                    </td>
                                </ng-container>
    
                                <tr mat-header-row *matHeaderRowDef="conversionTables"></tr>
                                <tr mat-row *matRowDef="let row; columns: conversionTables;"></tr>
                            </table>
                              
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>