<!-- <div class="col col-100">
    <header>
        <div class="head">
            <div>
                <button routerLink="/merchanthowitworks" mat-icon-button>
                    <mat-icon>
                        arrow_back
                    </mat-icon>
                </button>
            </div>

            <div class='logo_svg'>
                <p>How It Works</p>
            </div>

        </div>
    </header>
</div> -->

<div class="container">
    <div class="row">
        <div class="bg_gray">
            <div class="col col-100">
                <div class="main">
                    <div class="box">
                        <div class="title">
                            <p *ngIf="index == 0">What is Refr?</p>
                            <p *ngIf="index == 1">How Refr works?</p>
                            <p *ngIf="index == 2">How to use Refr ?</p>
                            <p *ngIf="index == 3">Refr Campaigns & Rewards</p>
                            <p *ngIf="index == 4">Refr Wallets</p>
                            <p *ngIf="index == 5">Redeem requests and Recent orders</p>
                            <p *ngIf="index == 6">Recent orders</p>
                            <p *ngIf="index == 7">Product cataloguing</p>
                            <p *ngIf="index == 8">Customers</p>
                            <p *ngIf="index == 9">How Refr makes it easy for you to work with influencers?</p>
                            <p *ngIf="index == 10">Refer a merchant & earn</p>
                        </div>

                        <div class='subt' *ngIf="index==0">
                            <p>
                                Refr is an easy, innovative marketing and selling tool for your business. <br><br>

                                Whether you are an online, offline or a hybrid store, you can now market & sell your
                                products or services like never
                                before! <br><br>

                                We believe that your loyal customers are your genuine brand advocates, whom we help turn
                                into your brand’s biggest voice
                                by letting them share curated recommendations and content that will help grow your
                                brand’s
                                reach and sales. <br><br>

                                Listed along with various other categories on our marketplace increases trust and
                                discoverability of your brand amongst
                                the vast pool of potential customers.

                            </p>
                        </div>

                        <div class='subt' *ngIf="index==1">
                            <p>
                                Get your business live on Refr with a digital storefront, catalogued products, fuelled
                                wallet & a running campaign. <br><br>

                                1. Customers discover your store’s Refr campaign at point of sale or on the Refr app.
                                While
                                making a purchase, they send
                                personalized recommendations of your store to their friends & followers via chat &
                                social.
                                You then appreciate these
                                customers by giving cashback for being your brand advocates.<br><br><br>


                                2. Friends & followers then discover your store
                                & active campaigns via these recommendations & make a purchase through our platform,
                                giving
                                your business sales & new
                                customers.<br><br><br>


                                3. Personalised Refr recommendations help increase trust in your products and services
                                whereas rewards encourage users
                                to use them more often. Your store discovery increases via your customers network & with
                                the
                                listing on our marketplace,
                                hence growing sales with Refr.

                            </p>
                        </div>

                        <div class="subt" *ngIf="index==2">
                            <p>
                                1. <b>Send advocacy requests</b> : Once your campaign is live, you can simply share it
                                with
                                your pre-existing customer base via
                                chat, mail or social; who then share it with their circle. <br><br>

                                2. <b>At physical store location</b> : Place your Refr QR code standee at your store
                                reception or Refr tent cards at various
                                touch points in your store. Educate your customers about Refr at checkout. <br><br>

                                3. <b>With delivery packages</b> : Send out Refr QR code stickers or cards with your
                                delivery packages, letting your customers
                                recommend you from the comfort of their homes. <br><br>

                                QR code standee (1), stickers (1sheet), cards (50) & tent cards (5) can be provided free
                                of
                                charge as selected once you
                                have onboarded with us. Extra merchandise will be charged.

                            </p>
                        </div>

                        <div class="subt" *ngIf="index==3">
                            <p>
                                <b>i. What is a Refr Campaign?</b> <br><br>

                                • A Refr campaign provides all the details of the reward structure you give out to your
                                customers for sharing your store
                                & making a successful recommendation. <br><br>

                                • The rewards can be a flat cashback or a percentage.<br><br>

                                • Each campaign has a minimum order value a customer has to fulfil to be eligible for a
                                reward.<br><br>

                                However, Refr gives complete freedom to all your customers to recommend your store post
                                a
                                purchase even if they don’t
                                fulfil the minimum order value required, they will just not receive the
                                cashback.<br><br>

                                <b>ii. How many campaigns can you make?</b> <br><br>

                                You can make as many campaigns as you wish, according to your store’s requirements.
                                Different campaigns can have
                                differences in the cashback type-flat amount or percent, with different time durations
                                and
                                varying minimum order values
                                to suit all customers. <br><br>


                                <b>iii. What is the minimum duration for one campaign?</b> <br><br>

                                The minimum duration for each campaign is 1 month. <br><br>

                                <b>iv. How are the rewards paid out to your customers?</b> <br><br>

                                Refr gives you a guaranteed return on your marketing spends unlike other marketing
                                avenues.
                                <b>You pay only when you get a
                                    sale.</b> <br><br>

                                How does this work? <br><br>

                                A customer makes a purchase at your store, loves the experience & thus recommends your
                                store
                                to friends, family &
                                followers via personalised recommendations. Today, you reward this customer with a small
                                cashback for being your brand
                                advocate. <br><br>

                                Friends & followers of this customer come back using the recommendation, giving you a
                                fresh
                                sale. For this, you reward
                                the new customer with a cashback of a higher amount & at the same time reward your
                                existing
                                customer with a small
                                cashback for making a sale conversion for you.
                                <br><br>
                                You give out all these rewards in the form of Refr cash, which gets debited from your
                                campaign wallet balance.
                                [See section 5(ii) for campaign wallet] <br><br>

                                <b>v. Tips on making a campaign</b> <br><br>

                                - Set your minimum order value in a way that best suits your business allowing maximum
                                customers to meet the
                                requirement. <br><br>

                                - Keep your rewards smaller for point of sale purchases & higher for purchases made by
                                friends which give you new sales. <br><br>

                                -In this way you will make a campaign that attracts new customers while also
                                appreciating
                                your existing customers to
                                recommend your store.<br><br>

                                - Campaigns once made cannot be edited, so make sure you make them wisely.<br><br>

                                - You can always create a new campaign from the campaign section, in case you want to
                                set
                                different variables of
                                rewards.<br><br>





                            </p>
                        </div>

                        <div class="subt" *ngIf="index==4">
                            <p>
                                <b>i. Store Wallet –</b> <br><br>

                                This wallet stores the money obtained when anyone pays you with Refr Cash and through
                                online
                                payment.<br><br>

                                Funds from this wallet can be transferred to the campaign wallet.<br><br>

                                Payments can be accepted via e-wallets, net banking, credit & debit cards.<br><br>

                                Funds can be withdrawn at any time from this wallet. 5% will be charged for withdrawal
                                of
                                funds.<br><br>

                                A ledger is maintained for all transactions.<br><br>

                                <b>ii. Campaign Wallet –</b><br><br>

                                This wallet keeps your Refr campaigns running. Your campaign rewards are given out via
                                this
                                wallet.<br><br>

                                You can add funds to this wallet selecting from the different tier options or can
                                transfer
                                funds from your store wallet.<br><br>

                                Every time you refill your Campaign wallet, a processing fee is charged, which varies as
                                per
                                the different tiers.<br><br>

                                Funds can be withdrawn from this wallet in case they are unused for a period of one
                                year.
                            </p>
                        </div>

                        <div class="subt" *ngIf="index==5">
                            <p>
                                <b>Redeem request</b> is the request an offline & hybrid store receives when a customer
                                is
                                at the checkout of a physical store.
                                Once the merchant approves this request & accepts the payment, only then the cashback is
                                credited to the customer.
                                Redeem requests are shown on the dash. <br><br>

                                Once a request is accepted, it can be seen in the “Recent Orders” section on the
                                dash.<br><br>

                                The icon on the top right side of each request depicts how the request has been made. A
                                two
                                figure icon indicates a
                                recommendation from a friend, where the reward has to be given to both the user & the
                                friend. A single icon indicates a
                                user’s discovery journey where the reward is given only to that user.<br><br>

                                <b>Recent order</b> on the other hand is an online order which an online & hybrid store
                                receive via the Refr platform. It has
                                all details including the order items, order value, time & date & the cashback
                                given.<br><br>

                                How to accept redeem requests ?
                                video recording here

                            </p>
                        </div>

                        <div class="subt" *ngIf="index==6">
                            <p>
                                <b>Recent order</b> on the other hand is an online order which an online & hybrid store
                                receive via the Refr platform. It has
                                all details including the order items, order value, time & date & the cashback given.
                                <br><br>

                                How to accept redeem requests ?
                                video recording here


                            </p>
                        </div>


                        <div class="subt" *ngIf="index==7">
                            <p>
                                Products can be added individually or as bulk by integrating an existing file. If a
                                business
                                has an excel sheet of its
                                products which they need help uploading, our team will help you with it.

                                Individual product addition includes its name, codes, a short description, any
                                specifications, country of origin, total
                                quantity & variants of size, shape, material, etc.

                                The store has to mention if the product is returnable/or exchangeable & up to how many
                                days.

                                Accepted payment options have to be mentioned.



                            </p>
                        </div>

                        <div class="subt" *ngIf="index==8">
                            <p>
                                These are all the customers you have added on Refr. This section lets you share your
                                campaigns with your loyal customers
                                at once. These can be added individually or by syncing all your contacts to Refr at
                                once.
                            </p>
                        </div>

                        <div class="subt" *ngIf="index==9">
                            <p>
                                Working with influencers was never so easy. Let the influencers share about your store
                                via
                                cool & personalised content
                                on their Instagram profiles with their unique Refr codes. Each time there is a
                                conversion
                                because of them, you pay them
                                via Refr cash. You can quantify each sale made by an influencer, hence tracking all your
                                spends on them.
                            </p>
                        </div>

                        <div class="subt" *ngIf="index==10">
                            <p>
                                Know another business like you?
                                Recommend other businesses in your network to Refr and earn credits from us. The credits
                                will be added post successful
                                onboarding of the recommended merchant.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>