header, .icons, .field{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
 span{
  font-size: 21px;
  font-weight: 600;
}
 .close, .icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
 .close{
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
.close:hover{
  background: #ebedf9;
}
}


.content{
  margin: 20px 0;
.icons{
  margin: 15px 0 20px 0;
  padding: 0;
  justify-content: space-around;
   a{
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
  svg{
  transition: transform 0.3s ease-in-out;
  vertical-align: middle;
  }


}


 a:nth-child(1){
  color: #1877F2;
  fill: #1877F2;
  border-color: #b7d4fb;
}
 a:nth-child(1):hover{
  background: #1877F2;
}
 a:nth-child(2){
  color: #46C1F6;
  fill: #46C1F6;
  border-color: #b6e7fc;
}
 a:nth-child(2):hover{
  background: #46C1F6;
}
 a:nth-child(3){
  color: #25D366;
  fill: #25D366;
  border-color: #bef4d2;
}
 a:nth-child(3):hover{
  background: #25D366;
}
 a:nth-child(4){
  color: #e1306c;
  fill: #e1306c;
  border-color: #f5bccf;
}
 a:nth-child(4):hover{
  background: #e1306c;
}
 a:nth-child(5){
  color: #0088cc;
  fill: #0088cc;
  border-color: #b3e6ff;
}
 a:nth-child(5):hover{
  background: #0088cc;
}
 a:hover{
  color: #fff;
  fill: #fff;
  border-color: transparent;
}
 a:hover svg{
  transform: scale(1.2);
}


}

p{
  font-size: 16px !important;
}




.field{
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
  .active{
    border-color: #7d2ae8;
  }
   mat-icon{
    width: 50px;
    text-align: center;
    vertical-align: middle;
  }
  .active i, .active mat-icon{
    color: #7d2ae8;
  }
   input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px !important;
  }
   button{
    color: #fff;
    padding: 0 18px;
    background: #7d2ae8;
  }
   button:hover{
    background: #8d39fa;
  }

}
}
