@media (min-width: 1270px) {
  .main {
    display: flex;
    justify-content: center;
  }

  .gradient_svg {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/refr/o/FIAMImages%2FSetup%20your%20business.svg?alt=media&token=2838ea11-890e-4ad0-a75f-0da6633b3a16);
    background-position: 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box {
    display: flex;
    transition: all 0.4s ease;
    opacity: 1;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    position: absolute;
  }

  .section {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }

  .article {
    box-shadow: 6px 12px 60px rgba(0, 0, 0, 0.2);
    width: auto;
    min-height: 0;
    background-color: white;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
  }

  .contents {
    min-height: 80vh;
    height: auto;
    width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 2rem 4rem;
  }

  .progressbar {
    margin: 2rem 0;
  }

  .flex_2 {
    height: 380px;
    overflow-y: scroll;
  }
  .flex_2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  .flex_2::-webkit-scrollbar-thumb {
    background: #8111e8;
    border-radius: 5px;
  }

  .setup_heading {
    padding: 1rem 0 0 0;
    .h1 {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    .p {
      font-size: 16px;
      color: #6d7075;
    }
  }

  .timing {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 0;
    .switch {
      width: 10%;
    }
    .weeks {
      width: 50%;
      h1 {
        font-size: 16px;
      }
    }
    .storeTiming {
      width: 40%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.fw_600 {
  font-weight: 600;
}
